<div *ngIf="isLoading" class="spinner"></div>

<div *ngIf="!isLoading" class="container">
  <div class="justify-content-center">
    <div class="row justify-content-center">

      <div class="col-md-9 col-lg-7">
        <form #f [formGroup]="form" (ngSubmit)="onSignup()" class="user-form">
          <h4 class="form-yellow-title">{{ txt['Sign up'][lg] }}<br/><small>{{ txt['with'][lg] }} HyperTube</small></h4>

          <p *ngIf="signupSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ txt['Creation success alert'][lg] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>

          <p *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errorMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>

          <div class="form-row">

            <div class="form-group col-12">
              <div *ngIf="avatarPreview && (avatarPreview !== '') && form.get('avatar').valid" class="avatar-preview col-12 mx-auto">
                <img [src]="avatarPreview" [alt]="form.value.avatar" class="mx-auto">
              </div>
              <button type="button" (click)="avatar.click()" class="file--button btn btn-outline-warning mx-auto d-block col-sm-12 col-md-2">
                <i class="large material-icons">photo_camera</i>
              </button>
              <input
                type="file" accept="image/*"
                class="form-control" id="inputUpload4"
                #avatar (change)="onAvatarPicked($event)"
                >
            </div>

            <div class="form-group col-md-6">
              <input
                type="text" placeholder="{{ txt['First name'][lg] }}"
                class="form-control" id="inputFirstname4"
                #firstName formControlName="firstName"
                autocomplete="nickname"
              >
              <p *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="error--msg">
                <span *ngIf="form.get('firstName').errors.required">{{ txt['Name required'][lg] }}</span>
                <span *ngIf="form.get('firstName').errors.pattern">{{ txt['Name format'][lg] }}</span>
              </p>
            </div>
            <div class="form-group col-md-6">
              <input
                type="text" placeholder="{{ txt['Last name'][lg] }}"
                class="form-control" id="inputName4"
                #lastName formControlName="lastName"
                autocomplete="name"
              >
              <p *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class="error--msg">
                <span *ngIf="form.get('lastName').errors.required">{{ txt['Name required'][lg] }}</span>
                <span *ngIf="form.get('lastName').errors.pattern">{{ txt['Name format'][lg] }}</span>
              </p>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text" placeholder="{{ txt['Username'][lg] }}"
              class="form-control" id="inputUsername"
              #username formControlName="username"
              autocomplete="username"
            >
            <p *ngIf="form.get('username').touched && form.get('username').invalid" class="error--msg">
              <span *ngIf="form.get('username').errors.required">{{ txt['Username required'][lg] }}</span>
              <span *ngIf="form.get('username').errors.pattern">{{ txt['Username format'][lg] }}</span>
            </p>
            <p *ngIf="usernameNotUnique" class="error--msg">{{ txt['Username unique'][lg] }}</p>
          </div>

          <div class="form-group">
            <input
              type="email" placeholder="{{ txt['Email'][lg] }}"
              class="form-control" id="inputEmail"
              #email formControlName="email"
              autocomplete="email"
            >
            <p *ngIf="form.get('email').touched && form.get('email').invalid" class="error--msg">
              <span *ngIf="form.get('email').errors.required">{{ txt['Email required'][lg] }}</span>
              <span *ngIf="form.get('email').errors.pattern">{{ txt['Email format'][lg] }}</span>
            </p>
            <p *ngIf="emailNotUnique" class="error--msg">{{ txt['Email unique'][lg] }}</p>
          </div>

          <div class="form-group">
            <input
              type="password" placeholder="{{ txt['Password'][lg] }}"
              class="form-control" id="inputPassword"
              #password formControlName="password"
              autocomplete="current-password"
            >
            <p *ngIf="form.get('password').touched && form.get('password').invalid" class="error--msg">
              <span *ngIf="form.get('password').errors.required">{{ txt['Password required'][lg] }}</span>
              <span *ngIf="form.get('password').errors.pattern">{{ txt['Password format'][lg] }}</span>
            </p>
          </div>

          <div class="form-group">
            <input
              type="password" placeholder="{{ txt['Password confirmation'][lg] }}"
              class="form-control" id="inputConfirmPassword"
              #confirmPassword formControlName="confirmPassword"
              autocomplete="current-password"
            >
            <p *ngIf="form.get('password').touched && form.get('confirmPassword').touched && form.get('password').value != form.get('confirmPassword').value" class="error--msg">
              {{ txt['Passwords unmatch'][lg] }}
            </p>
          </div>

          <button type="submit" [disabled]="form.invalid || form.get('password').value != form.get('confirmPassword').value" class="btn btn-outline-warning mx-auto d-block col-sm-12 col-md-6">
            {{ txt['Submit'][lg] }}
          </button>

          <p class="small_grey_text mb-0 mt-4" style="text-align: center;">
            {{ txt['Have account'][lg] }}
            <span class="hovering_effect">
              <a class="small_grey_text hover hover-4" routerLink="/signin">
                {{ txt['Sign in'][lg] }}
              </a>
            </span>
          </p>
        </form>
      </div>

      <div class="col-md-3 col-lg-5">
        <app-omniauth></app-omniauth>
      </div>

    </div>
  </div>
</div>
