<h2>Comments</h2>

<form [formGroup]="formGroup" (validSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col form-group">
      <label class="d-none">Comment</label>
      <textarea name="content" id="content" formControlName="Comment" class="form-control" placeholder="Write a comment"></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="col-8 form-group">
      <label class="d-none">Name</label>
      <input type="text" name="author_name" formControlName="Name" class="form-control" placeholder="Your name">
    </div>

    <div class="col-4 form-group">
      <button class="btn btn-primary btn-block">Send</button>
    </div>
  </div>
</form>

<div *ngFor="let comment of comments">
  <p><b>{{ comment.author_name }}</b> {{ comment.posted_datetime }}</p>
  <p>{{ comment.content }}</p>
</div>
