<div class="spinner" *ngIf="isLoading"></div>
<div class="container" *ngIf="!isLoading">
  <div class="row justify-content-center profile--main">
    <div class="col-12 col-md-10 mt-5">

      <div>
        <img class="avatar-img"src="{{ profile['avatar'] }}" alt="profile-pic">
      </div>

      <div>
        <p class="username--p">
          {{ profile['username'] }}
          <span class="name--p">({{ profile['firstName'] }} {{ profile['lastName'] }})</span>
        </p>
        <p id="link-to-edit" *ngIf="this.ownProfile"><a routerLink="/edit">{{ txt['Edit'][lg] }}</a></p>
      </div>

      <div>
        <div class="row my-2" *ngFor="let comment of profile['comments']">
          <div class="col-4 col-md-2">
            <img class="img-fluid" src="{{ comment.videoInfo.Poster }}">
          </div>
          <div class="col-8 col-md-10">
            <div class="card bg-dark text-white">
                <p class="card-header">
                  <b class="movie-title"><a routerLink='/video/{{ comment.imdbId }}/{{ comment.ytsId }}'>{{ comment.videoInfo.Title }}</a></b>
                  <small>
                    <span class="text-muted"> {{ comment.posted_datetime | date: 'dd/MM/yyyy (h:mm a)' }}</span>
                  </small>
                </p>
                <p class="card-body">{{ comment.content }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

