<div class="spinner" *ngIf="isLoading"></div>
<div class="container" *ngIf="!isLoading">
  <div class="justify-content-center sign-in--main">
    <div class="row justify-content-center">
      <form #f="ngForm" class="col-12 col-md-10 col-lg-6" (ngSubmit)="onForgotPwd()" *ngIf="!secondForm">
        <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
          {{ successMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errorMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <p>Please enter your username</p>
        <div class="form-group">
          <input type="text" name="username" ngModel #username="ngModel" required pattern="[a-zA-Z0-9]+$"
            class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Username">
        </div>
        <div class="error--msg" *ngIf="username.touched && !username.valid">
          <div *ngIf="username.errors.required">
            Username is required
          </div>
          <div *ngIf="username.errors.pattern">
            Username must have between 6 and 33 alphabetical and/or numeric characters
          </div>
        </div>
        <button type="submit" [disabled]="!f.valid"
          class="sign-in--button btn btn-outline-warning mx-auto d-block col-sm-12 col-md-6">Reset password!</button>
      </form>
      <form #f2="ngForm" class="col-12 col-md-10 col-lg-6" (ngSubmit)="onResetPwd()" *ngIf="secondForm">
        <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
          {{ successMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errorMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <p>Please chose a new password</p>
        <div class="form-group">
          <input type="password" name="password" ngModel #password="ngModel" required
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" class="form-control"
            id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="error--msg" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
          <div *ngIf="password.errors.pattern">
            Password must have 8 to 33 characters, including at least 1 digit, 1 lowercase, 1 uppercase and exactly 1 of special
            chars : @$!%*?&
          </div>
        </div>
        <div class="form-group">
          <input type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" required
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" class="form-control"
            id="exampleInputPassword2" placeholder="Confirm password">
        </div>
        <div class="error--msg" *ngIf="confirmPassword.touched && !confirmPassword.valid">
          <div *ngIf="confirmPassword.errors.required">
            Password is required
          </div>
          <div *ngIf="confirmPassword.errors.pattern">
            Password must have 8 to 33 characters, including at least 1 digit, 1 lowercase, 1 uppercase and exactly 1 of special
            chars : @$!%*?&
          </div>
        </div>
        <div class="error--msg">
          <div *ngIf="confirmPassword.touched && !samePwd(password.value, confirmPassword.value)">
            Passwords are not the same
          </div>
        </div>
        <button type="submit" [disabled]="!f2.valid || !samePwd(password.value, confirmPassword.value)"
          class="sign-in--button btn btn-outline-warning mx-auto d-block col-sm-12 col-md-6">Reset!</button>
      </form>
    </div>
  </div>
</div>
