<div *ngIf="isLoading" class="spinner"></div>

<div *ngIf="!isLoading" class="container">
  <div class="justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-6">

        <form *ngIf="!secondForm" #f="ngForm" (ngSubmit)="onForgotPwd()" class="user-form">
          <h4 class="form-yellow-title">{{ txt['Forgotten password'][lg] }}</h4>

          <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ successMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errorMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div *ngIf="displayForms">
            <div class="form-group">
              <input
                type="text" name="username" placeholder="{{ txt['Username'][lg] }}"
                class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp"
                ngModel #username="ngModel" pattern="^[0-9a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.\'-]{2,30}$" required
              >
              <p *ngIf="username.touched && !username.valid" class="error--msg">
                {{ txt['Username error'][lg] }}
              </p>
            </div>

            <button type="submit" [disabled]="!f.valid" class="btn btn-outline-warning mx-auto d-block col-sm-12 col-md-6">
              {{ txt['Reset password'][lg] }}
            </button>
          </div>
        </form>

        <form *ngIf="secondForm" #f2="ngForm" (ngSubmit)="onResetPwd()" class="user-form">
          <h4 class="form-yellow-title">{{ txt['New password'][lg] }}</h4>

          <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ successMessage }}
            <a *ngIf="activateLink" routerLink="/signin">{{ txt['Login link'][lg] }}</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errorMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div *ngIf="displayForms">
            <div class="form-group">
              <input
                type="password" name="password" placeholder="{{ txt['Password'][lg] }}"
                class="form-control" id="exampleInputPassword1"
                ngModel #password="ngModel" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" required
              >
              <p *ngIf="password.touched && !password.valid" class="error--msg">
                {{ txt['Password format'][lg] }}
              </p>
            </div>

            <div class="form-group">
              <input
                type="password" name="confirmPassword" placeholder="{{ txt['Password confirmation'][lg] }}"
                class="form-control" id="exampleInputPassword2"
                ngModel #confirmPassword="ngModel" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" required
              >
              <p *ngIf="confirmPassword.touched && !confirmPassword.valid" class="error--msg">
                {{ txt['Password format'][lg] }}
              </p>
              <p *ngIf="password.touched && confirmPassword.touched && password.value != confirmPassword.value" class="error--msg">
                {{ txt['Passwords unmatch'][lg] }}
              </p>
            </div>

            <button type="submit" [disabled]="!f2.valid || password.value != confirmPassword.value" class="sign-in--button btn btn-outline-warning mx-auto d-block col-sm-12 col-md-6">
              {{ txt['Reset password'][lg] }}
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
