.container {
  margin-top: 10vh;
}

.sign-in--main form, .social--login {
  background-color: rgba(77, 77, 77, 0.3);
}

.sign-in--main form {
  padding: 5vh 5vh;
  border-radius: 10px;
  // box-shadow: 1px 1px 5px grey;
}

.sign-up--link {
  color: grey;
  text-decoration: none;
  font-size: 0.9rem;
}

.sign-in--button {
  margin-top: 60px;
  border-radius: 15px;
}

form h4 {
  margin-top: 10px;
  padding-bottom: 40px;
}

.form-control {
  background-color: transparent;
  border: 1px solid #7a7a7a;
  color: #7a7a7a;
  font-size: 0.9rem;
}

.form-group {
  padding-top: 10px;
  margin: 0;
}

.form-check {
  padding-top: 10px;
}

.checkbox--div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.error--msg div {
  margin-top: 2px;
  color: #c33838;
  font-size: 0.8rem;
  font-weight: 500;
}
