// VIDEO INFO
.star-rating
{
    display: flex;
}
.back-stars
{
    display: flex;
    position: relative;
    color: LightGray;
}
.front-stars
{
    display: flex;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: gold;
}
.details
{
  padding-left: 0.5em;
  font-size: 0.9em;
}

// VIDEO TORRENTS
td
{
  width: auto;
}

td.min
{
  width: 1%;
  white-space: nowrap;
}

// VIDEO PLAYER
video
{
  width: 100%    !important;
  height: auto   !important;
}