<div class="container">
  <div class="row justify-content-center text-center">

    <div class="col-12 my-5">
      <h1>{{ txt['Watch'][lg] }}</h1>
      <h3>{{ txt['on streaming'][lg] }}</h3>
    </div>

    <p class="col-8 col-sm-5 col-md-4 col-lg-3 mb-5">
      <button type="button" routerLink='signin' class="btn btn-block btn-warning">
        {{ txt['Log in'][lg] }}
      </button>
    </p>

    <p class="col-8 col-sm-5 col-md-4 col-lg-3 mb-5">
      <button type="button" routerLink='signup' class="btn btn-block btn-outline-warning">
        {{ txt['Sign up'][lg] }}
      </button>
    </p>

  </div>
</div>

<!--
<h3>Auth pages</h3>
<p><a href="/signup">Signup</a></p>
<p><a href="/signin">Signin</a></p>
<p><a href="/forgotPassword">Forgot password</a></p>
<p><a href="http://localhost:3000/api/user/logout">Logout</a></p>

<h3>User pages</h3>
<p><a href="/profile">Profile</a></p>
<p><a href="/edit">Edit profile</a></p>

<h3>Video pages</h3>
<p><a href="/search">Search</a></p>
<p><a href="/video/tt1211837/6336">Video</a></p>
-->