<!-- <div class="spinner" *ngIf="isLoading"></div> -->
<div class="container">
  <div class="row justify-content-center profile--main">
    <div class="col-12 col-md-10 col-lg-6 mt-5">
      <div clas="justify-content-center">
        <img class="avatar-img"src="http://localhost:3000/assets/pictures/vippng.com-demon-face-png-1981503-1583751871213.png" alt="profile-pic" width="100px">
      </div>
      <div>
        <p class="name--p">firstName lastName</p>
        <p class="username--p">username</p>
        <a routerLink="edit-profile">Edit Profile</a>
      </div>
      <div class="">
        <!-- historique des actions (commentaires des films, notes ) -->
        <div class="card mb-3 historic--card" style="max-width: 540px;">
          <div class="row no-gutters" style="height: 100%;">
            <div class="col-4">
              <img src="../../assets/img/download.jpeg"  alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">gived a note :</h5>
                <app-static-rate></app-static-rate>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 historic--card" style="max-width: 540px;">
          <div class="row no-gutters" style="height: 100%;">
            <div class="col-4">
              <img src="../../assets/img/download.jpeg"  alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">gived a note :</h5>
                <app-static-rate></app-static-rate>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 historic--card" style="max-width: 540px;">
          <div class="row no-gutters" style="height: 100%;">
            <div class="col-4">
              <img src="../../assets/img/download.jpeg"  alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">gived a note :</h5>
                <app-static-rate></app-static-rate>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

