.card
{
	position:relative;
}
.card-header:after,
.card-header:before
{
	position:absolute;
	top:8px;
	left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.card-header:after
{
	border-width:7px;
	border-right-color: var(--gray-dark);
	margin-top:1px;
	margin-left:2px;
}
.card-header:before
{
	border-right-color: var(--dark);
	border-width:8px;
}
.card-body
{
    margin: 0;
}

.btn-div .btn {
  // position: absolute;
  // right: 10px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.btn-div .btn:active, .btn-div .btn:focus {
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 768px) {
    .btn-div .btn {
        width:100%;
    }
}
