<h4>{{ txt['Title'][lg] }}</h4>
<form [formGroup]="formGroup" (submit)="postComment()">

  <div class="form-row">
    <div class="col form-group">
      <label class="d-none">Comment</label>
      <textarea name="content" id="content" formControlName="Comment" class="form-control" placeholder="{{ txt['Comment'][lg] }}"></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="col form-group btn-div">
      <button class="btn btn-warning">{{ txt['Send'][lg] }}</button>
    </div>
  </div>

</form>

<div class="row my-2" *ngFor="let comment of comments">
  <div class="col-3 col-sm-2">
      <img class="img-fluid" src="{{ comment.author_avatar }}">
  </div>
  <div class="col">
      <div class="card bg-dark text-white">
          <p class="card-header">
            <b *ngIf="comment.author_username"><a routerLink="/profile/{{ comment.author_id }}">{{ comment.author_username }}</a></b>
            <b *ngIf="!comment.author_username" style="color: rgb(200, 50, 50);">{{ txt['DeletedUser'][lg] }}</b>
            <small>
              <span class="text-muted"> {{ comment.posted_datetime | date: 'dd/MM/yyyy (h:mm a)' }}</span>
            </small>
          </p>
          <p class="card-body">{{ comment.content }}</p>
      </div>
  </div>
</div>
