$animate: all 0.2s ease-in-out;

.container {
  margin-top: 10vh;
}

.sign-in--main form, .social--login {
  background-color: rgba(77, 77, 77, 0.3);
}

.sign-in--main form {
  padding: 5vh 5vh;
  border-radius: 10px;
}

.small_grey_text {
  color: grey;
  text-decoration: none;
  font-size: 0.9rem;
}

.yellow_underline {
  position: relative;
  color: grey;
  text-decoration: none;
}

.hovering_effect {
    .hover {
      color: darken(rgb(243, 220, 0), 10%);
      text-align: center;
      margin: 0 auto;
      padding: 0;
      transition: $animate;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 0px;
        height: 2px;
        margin: 5px 0 0;
        transition: $animate;
        transition-duration: 0.45s;
        opacity: 0;
        background-color: rgb(243,220,0);
      }
      &.hover-4 {
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
        &.hover-3,
        &.hover-4 {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }
    }
  }

.sign-in--button {
  margin-top: 60px;
  border-radius: 15px;
}

form h4 {
  margin-top: 10px;
  padding-bottom: 40px;
}

.form-control {
  background-color: transparent;
  border: 1px solid #7a7a7a;
  color: #7a7a7a;
  font-size: 0.9rem;
}

.form-group {
  padding-top: 10px;
  margin: 0;
}

.form-check {
  padding-top: 10px;
}

.checkbox--div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.error--msg {
  margin-top: 2px;
  color: #c33838;
  font-size: 0.8rem;
  font-weight: 500;
}

.alert-success {
  background-color: #d4edda;
  border-color: #d4edda;
}
