<div class="container-fluid">

  <form class="row">
    <div class="col">
      <p>- Search box
      <p>- Order filters (popularity [?], name [A>Z], date [0>9])
      <p>- Sort filters (date [range], genre [list])
    </div>
  </form>

  <div class="row">

    <div class="col-sm-3" *ngFor="let result of results">
      <div class="card">
        <img class="card-img-top" src="">
        <div class="card-body">
          <p class="card-title"><a href="/video/{{ result.imdb_id }}/{{ result.yts_id }}" class="stretched-link">{{ result.title }}</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
