<div class="row justify-content-center mt-4">
  <h4 class="col-12 form-yellow-title">
    <small>{{ txt['Use account'][lg] }}</small>
  </h4>
</div>

<div class="row justify-content-center">
  <div class="col-6 social--login">

    <a href="http://localhost:3000/api/auth/42" class="btn logo-42">
      <img src="../../assets/img/42--logo.jpeg" alt="42-logo" class="42--logo">
    </a>

    <a href="#" class="btn facebook">
      <img src="../../assets/img/facebook--logo.png" alt="facebook-logo" class="facebook--logo">
    </a>

    <a href="#" class="btn google" #googleRef>
      <img src="../../assets/img/google--logo.png" alt="google-logo" class="google--logo">
    </a>

    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

  </div>
</div>
