<div class="row justify-content-center mt-5">
  <div class="col-12">
    <h4 class="form-yellow-title"><small>{{ txt['Use account'][lg] }}</small></h4>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6 social--login">

    <a href="http://localhost:3000/api/auth/github" class="btn github">
      <img src="../../assets/img/github--logo.jpg" alt="github-logo" class="github--logo">
    </a>

    <a href="http://localhost:3000/api/auth/42" class="btn logo-42">
      <img src="../../assets/img/42--logo.jpeg" alt="42-logo" class="42--logo">
    </a>

    <a href="http://localhost:3000/api/auth/google" class="btn google">
      <img src="../../assets/img/google--logo.png" alt="google-logo" class="google--logo">
    </a>

  </div>
</div>
