/* ----------------------------------------------- *\
    Omniauth section
\* ----------------------------------------------- */

.social--login
{
  margin-top: 1vh;
  padding: 0;
}

/* ----------------------------------------------- *\
    Buttons (common elements)
\* ----------------------------------------------- */

.social--login .btn
{
  display: block;
  filter: opacity(0.8);
  border-radius: 0;
}
.social--login .btn:hover
{
  filter: opacity(1);
}
.social--login .btn img
{
  left: 0px;
}

/* ----------------------------------------------- *\
    Buttons (individual elements)
\* ----------------------------------------------- */

.github
{
  background-color: rgb(255,255,255);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.github img
{
  width: 35px;
  height: 35px;
  border-radius: 15px;
}

.logo-42
{
  background-color: rgba(9, 9, 9);
  border-left: 1px solid rgb(75, 75, 75);
  border-right: 1px solid rgb(75, 75, 75);
}
.logo-42 img
{
  width: 42px;
  height: 42px;
}

.google
{
  background-color: rgb(255,255,255);
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.google img
{
  width: 60px;
  height: 35px;
}




