<div class="container">
  <div class="justify-content-center sign-in--main">
    <div class="row justify-content-center">
      <form #f [formGroup]="form" class="col-12 col-md-10 col-lg-6" (ngSubmit)="onSignup()">
        <h4 class="mb-4 form-yellow-title">Sign Up</h4>
        <div class="form-row">
          <div class="form-group col-12">
            <div class="avatar-preview col-12 mx-auto" *ngIf="avatarPreview && (avatarPreview !== '') && form.get('avatar').valid">
              <img class="mx-auto" [src]="avatarPreview" [alt]="form.value.avatar">
            </div>
            <button class="file--button btn btn-outline-warning mx-auto d-block col-sm-12 col-md-2"
            type="button"
            (click)="avatar.click()">
              <i class="large material-icons">photo_camera</i>
            </button>
            <input
            type="file"
            accept="image/*"
            #avatar
            class="form-control"
            id="inputUpload4"
            placeholder="upload a picture"
            (change)="onAvatarPicked($event)">
          </div>
          <div class="form-group col-md-6">
            <input
            type="text"
            #firstName
            formControlName="firstName"
            class="form-control"
            id="inputFirstname4"
            placeholder="First name">
          </div>
          <div class="form-group col-md-6">
            <input
            type="text"
            #lastName
            formControlName="lastName"
            class="form-control"
            id="inputName4"
            placeholder="Last name">
          </div>
          <!-- ERROR HANDLER -->
          <div class="row">
            <div class="error--msg info-error--div col-12" *ngIf="form.get('firstName').touched && form.get('firstName').invalid">
              <div *ngIf="form.get('firstName').errors.required">
                First name is required
              </div>
              <div *ngIf="form.get('firstName').errors.pattern">
                First name should be only alphabetical characters.
              </div>
            </div>
            <div class="error--msg info-error--div col-12" *ngIf="form.get('lastName').touched && form.get('lastName').invalid">
              <div *ngIf="form.get('lastName').errors.required">
                Last name is required
              </div>
              <div *ngIf="form.get('lastName').errors.pattern">
                Last name should be only alphabetical characters.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
          type="text"
          formControlName="username"
          #username
          class="form-control"
          id="inputUsername"
          placeholder="Username">
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="form.get('username').touched && form.get('username').invalid">
          <div *ngIf="form.get('username').errors.required">
            Username is required
          </div>
          <div *ngIf="form.get('username').errors.pattern">
            Username must have between 6 and 33 alphabetical and/or numeric characters
          </div>
        </div>
        <div class="form-group">
          <input
          type="email"
          formControlName="email"
          #email
          class="form-control"
          id="inputEmail"
          placeholder="example@provider.com">
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="form.get('email').touched && form.get('email').invalid">
          <div *ngIf="form.get('email').errors.required">
            Email is required
          </div>
          <div *ngIf="form.get('email').errors.pattern">
            Please, enter a valid email
          </div>
        </div>
        <div class="form-group">
          <input
          type="password"
          formControlName="password"
          #password
          class="form-control"
          id="inputPassword"
          placeholder="Password">
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="form.get('password').touched && form.get('password').invalid">
          <div *ngIf="form.get('password').errors.required">
            Password is required
          </div>
          <div *ngIf="form.get('password').errors.pattern">
            Password must have 8 to 33 characters, including at least 1 digit, 1 lowercase, 1 uppercase and exactly 1 of special chars : @$!%*?&
          </div>
        </div>
        <div class="form-group">
          <input
          type="password"
          formControlName="confirmPassword"
          #confirmPassword
          class="form-control"
          id="inputConfirmPassword"
          placeholder="Confirm password">
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid">
          <div *ngIf="form.get('confirmPassword').errors.required">
            Password is required
          </div>
          <div *ngIf="form.get('confirmPassword').errors.pattern">
              Password must have 8 to 33 characters, including at least 1 digit, 1 lowercase, 1 uppercase and exactly 1 of special chars : @$!%*?&
            </div>
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="form.get('password').touched && form.get('confirmPassword').touched && !samePwd(form.get('password').value, form.get('confirmPassword').value)">
          <div >
            Passwords are not the same
          </div>
        </div>
        <button type="submit" [disabled]="form.invalid" class="sign-in--button btn btn-outline-warning mx-auto d-block col-sm-12 col-md-6">Submit</button>
      </form>
    </div>
    <app-omniauth></app-omniauth>
  </div>
