.facebook {
  background-color: rgb(66,103,178);
}

.facebook img {
  width: 35px;
  height: 35px;
  border-radius: 15px;
}

.google {
  background-color: rgb(255,255,255);
}

.google img {
  width: 60px;
  height: 35px;
}

.logo-42 {
  background-color: rgba(27, 27, 27, 0.8);
}

.logo-42 img {
  width: 42px;
  height: 42px;
}

.social--login {
  margin-top: 2vh;
  padding: 0;
}

.social--login button {
  border: none;
  filter: opacity(0.8);
  border-radius: 0;
}

.social--login button:hover {
  filter: opacity(1);
}

.social--login button img {
  left: 0px;
}
