/* ---------------------------------------------- *\
    Imports
\* ---------------------------------------------- */

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import '~bootstrap/dist/css/bootstrap.min.css';

/* ---------------------------------------------- *\
    Structure
\* ---------------------------------------------- */

*
{
  margin: 0;
  padding: 0;
}
html, body
{
  height: 100%;
  background-color: rgb(20, 20, 20);
}
body
{
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}
.container
{
  overflow: auto;
}

/* ---------------------------------------------- *\
    Loading
\* ---------------------------------------------- */

.spinner
{
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 50%;
  height: 60px;
  width: 60px;
  // margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 3px solid rgb(243,220,0);
  border-right: 3px solid rgb(243,220,0);
  animation: spinner 1s linear infinite;
}

@keyframes spinner
{
  to { transform: rotate(360deg); }
}

/* ---------------------------------------------- *\
    Buttons
\* ---------------------------------------------- */

.btn-outline-warning,
.btn-outline-warning:hover
{
  border-color: rgb(243,220,0);
  color: rgb(243,220,0);
}
.btn-outline-warning:hover
{
  color: black;
}
.btn-outline-warning:disabled
{
  border-color: initial;
  background-color: initial;
  color: initial;
}

/* ----------------------------------------------- *\
    Form elements
\* ----------------------------------------------- */

/* ------------ Form title ------------ */

form h4
{
  margin-top: 10px;
  padding-bottom: 40px;
}
form .form-yellow-title
{
  color: rgb(243,220,0);
  margin-top: 2vh;
  text-align: center;
}

/* ------------ Form alerts ------------ */

form .alert-success
{
  background-color: #d4edda;
  border-color: #d4edda;
}
form .error--msg
{
  margin-top: 2px;
  color: #c33838;
  font-size: 0.8rem;
  font-weight: 500;
}

/* ------------ Form controles ------------ */

form .form-group
{
  padding-top: 10px;
  margin: 0;
}

form .form-control
{
  background-color: transparent;
  border: 1px solid #7a7a7a;
  color: #7a7a7a;
  font-size: 0.9rem;
}

.checkbox--div
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .form-check
{
  padding-top: 10px;
}

/* ------------ Avatar input ------------ */

form input[type="file"]
{
 display: none;
}

.form file--button
{
  color: #7a7a7a;
  border-color: #7a7a7a;
  padding: 0;
}
form .file--button i
{
  line-height: 40px;
}

form .avatar-preview
{
  text-align: center;
  margin-bottom: 5px;
  height: 5rem;
}
form .avatar-preview img
{
  height: 100%;
  max-width: 100%;
  min-width: 100px;
}