/* ---------------------------------------------- *\
    Imports
\* ---------------------------------------------- */

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import '~bootstrap/dist/css/bootstrap.min.css';

$animate: all 0.2s ease-in-out;

/* ---------------------------------------------- *\
    Structure
\* ---------------------------------------------- */

*
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
  background-color: rgb(20, 20, 20);
}

body
{
  // min-height: 100%;
  // max-width: 1200px;
  // margin: 0 auto;
  width: 100%;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ---------------------------------------------- *\
    Loading
\* ---------------------------------------------- */

.spinner
{
  content: '';
  box-sizing: border-box;
  position: fixed;
  margin: auto;
  right: 50%;
  margin-right: -30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-top: 3px solid rgb(243,220,0);
  border-right: 3px solid rgb(243,220,0);
  animation: spinner 1s linear infinite;
  z-index: 3;
}

@keyframes spinner
{
  to { transform: rotate(360deg); }
}

/* ---------------------------------------------- *\
    Buttons
\* ---------------------------------------------- */

.btn-outline-warning,
.btn-outline-warning:hover
{
  border-color: rgb(243,220,0);
  color: rgb(243,220,0);
}
.btn-outline-warning:hover
{
  color: black;
}
.btn-outline-warning:disabled
{
  border-color: initial;
  background-color: initial;
  color: initial;
}

/* ----------------------------------------------- *\
    Form elements
\* ----------------------------------------------- */

/* ------------ Form structure ------------ */

.user-form
{
  padding: 5vh;
  border-radius: 10px;
  background-color: rgba(77, 77, 77, 0.3);
}

/* ------------ Form title ------------ */

h4.form-yellow-title
{
  text-align: center;
  color: rgb(243,220,0);
}

/* ------------ Form alerts ------------ */

form .alert
{
  margin-top: 5vh;
}
form .alert-success
{
  background-color: #d4edda;
  border-color: #d4edda;
}
form .error--msg
{
  margin-top: 2px;
  color: #c33838;
  font-size: 0.8rem;
  font-weight: 500;
}

/* ------------ Form text and links ------------ */

.small_grey_text
{
  color: grey;
  text-decoration: none;
  font-size: 0.9rem;
}

.hovering_effect
{
  .hover
  {
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: darken(rgb(243, 220, 0), 10%);
    text-decoration: none;
    transition: $animate;
    &:before, &:after
    {
      position: absolute;
      bottom: -5px;
      width: 0px;
      height: 2px;
      margin: 5px 0 0;
      content: "";
      transition: $animate;
      transition-duration: 0.45s;
      opacity: 0;
      background-color: rgb(243,220,0);
    }
    &.hover-4
    {
      &:before { left: 0; }
      &:after { right: 0; }
    }
  }

  &:hover
  {
    cursor: pointer;
    .hover
    {
      &:before, &:after { width: 100%; opacity: 1; }
      &.hover-3, &.hover-4
      {
        &:before, &:after { width: 50%; }
      }
    }
  }
}

/*
.yellow_underline {
  position: relative;
  color: grey;
  text-decoration: none;
}
*/

/* ------------ Form controles ------------ */

.user-form .form-group
{
  padding-top: 10px;
  margin: 0;
}
.user-form .form-group:first-of-type
{
  margin-top: 5vh;
}

.user-form .form-control
{
  background-color: transparent;
  border: 1px solid #7a7a7a;
  color: #7a7a7a;
  font-size: 0.9rem;
}

.user-form .checkbox--div
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-form .form-check
{
  padding-top: 10px;
}

.user-form button[type="submit"]
{
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 15px;
}

/* ------------ Avatar input ------------ */

.user-form input[type="file"]
{
 display: none;
}

.user-form .file--button
{
  color: #7a7a7a;
  border-color: #7a7a7a;
  padding: 0;
}
.user-form .file--button i
{
  line-height: 40px;
}

.user-form .avatar-preview
{
  text-align: center;
  margin-bottom: 5px;
  height: 5rem;
}
.user-form .avatar-preview img
{
  height: 100%;
  max-width: 100%;
  min-width: 100px;
  border-radius: 10px;
}
