<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-sm-2">
      <img src="">pic
    </div>

    <div class="col-sm-8">
      <h1 class="text-center">{{ video['name'] }}</h1>
      <p class="text-center">
        <span class="star-rating">
          <span class="back-stars">
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <span class="front-stars" style="width: 50%"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
          </span>
        </span>
      </p>
      <p>{{ video['summary'] }}</p>
      <p>list, of, genres | productionYear | duration</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-dark">
        <tr>
          <td>Source</td>
          <td><button type="button" class="btn btn-primary">Play</button></td>
        </tr>
        <tr>
          <td>Source</td>
          <td><button type="button" class="btn btn-primary">Play</button></td>
        </tr>
      </table>
    </div>
  </div>

</div>
