<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-md-3 text-center">
      <img src="{{ video['Poster'] }}" class="img-fluid">
    </div>

    <div class="col-md-8">
      <h1>{{ video['Title'] }}</h1>
      <p>
        <span class="star-rating">
          <span class="back-stars">
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <span class="front-stars" [style.width]="video['imdbRating']*10+'%'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
          </span>
          {{ video['imdbRating'] / 2 }}/5 ({{ video['imdbVotes'] }} votes) | {{ video['Year'] }} | {{ video['Runtime'] }} | {{ video['Genre'] }}
        </span>
      </p>
      <p>{{ video['Plot'] }}</p>
      <p class="small">With {{ video['Actors'] }}.</p>
      <p class="small">By {{ video['Director'] }}, {{ video['Writer'] }}, {{ video['Production'] }}.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-dark">
        <tr>
          <td>Source</td>
          <td><button type="button" class="btn btn-primary">Play now</button></td>
        </tr>
        <tr>
          <td>Source</td>
          <td><button type="button" class="btn btn-primary">Load and play</button></td>
        </tr>
      </table>
      Buttons open tab with the streamer
    </div>
  </div>

  <div class="row">
    <h2>Comments</h2>

    <form>
      <textarea class="form-control" placeholder="Comment content..."></textarea>
      <button class="btn btn-primary">Send</button>
    </form>

    <div>
      <p><b>Diablo25</b> 30.10.2017 12:13</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non lorem elementum, accumsan magna sed, faucibus mauris. Nulla pellentesque ante nibh, ac hendrerit ante fermentum sed. Nunc in libero dictum, porta nibh pellentesque, ultrices dolor. Curabitur nunc ipsum, blandit vel aliquam id, aliquam vel velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sit amet mi dignissim, pretium justo non, lacinia libero. Nulla facilisi. Donec id sem velit.</p>
    </div>

  </div>
</div>
