<div class="container-fluid">

  <!-- VIDEO INFO -->
  <div class="row justify-content-center mt-2">

    <div class="col-md-3 text-center mb-2">
      <img src="{{ videoInfos['Poster'] }}" class="img-fluid">
    </div>

    <div class="col-md-8">
      <h1>{{ videoInfos['Title'] }}</h1>
      <p>
        <span class="star-rating">
          <span class="back-stars">
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <span class="front-stars" [style.width]="videoInfos['imdbRating']*10+'%'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
          </span>
          {{ videoInfos['imdbRating'] / 2 }}/5 ({{ videoInfos['imdbVotes'] }} votes) | {{ videoInfos['Year'] }} | {{ videoInfos['Runtime'] }} | {{ videoInfos['Genre'] }}
        </span>
      </p>
      <p>{{ videoInfos['Plot'] }}</p>
      <p class="small">With {{ videoInfos['Actors'] }}.</p>
      <p class="small">By {{ videoInfos['Director'] }}, {{ videoInfos['Writer'] }}, {{ videoInfos['Production'] }} (producer).</p>
    </div>
  </div>

  <!-- VIDEO TORRENTS -->
  <div class="table-responsive mt-2">
    <table class="table table-striped table-dark" id="accordion">
      <thead>
        <tr>
          <th> </th>
          <th>Upload date</th>
          <th>Size</th>
          <th>Seeds</th>
          <th>Peers</th>
          <th> </th>
        </tr>
      </thead>

      <tbody *ngFor="let torrent of videoInfos['Torrents']; let i = index;">
        <tr class="bg-dark">
          <td>YIFY {{ torrent.quality }} {{ torrent.type }}</td>
          <td>{{ torrent.year_uploaded }}</td>
          <td>{{ torrent.size }}</td>
          <td>{{ torrent.seeds }}</td>
          <td>{{ torrent.peers }}</td>
          <td class="min"><button type="button" class="btn btn-primary" data-toggle="collapse" [attr.data-target]="'#collapse_' + i " (click)="streamVideo(i)">Play now / Load and play</button></td>
        </tr>
        <tr class="collapse" id="collapse_{{ i }}" data-parent="#accordion">
          <!-- <div *ngIf="stream"> -->
            <td colspan="6" *ngIf="stream">
              <video controls appVideoEvents [torrentHash]="torrentHash" [status]="stream.status" #videoPlayer>
                <source src="{{ stream }}" type="video/mp4">
                  Your browser doesn't support HTML videos
              </video>
              <!-- <app-vjs-player [torrentHash]=torrentHash [options]="{ autoplay: false, controls: true, sources: [{ src: stream.src, type: 'video/mp4' }] }"></app-vjs-player> -->
            </td>
          <!-- </div> -->
        </tr>
      </tbody>

    </table>
  </div>

  <!-- VIDEO COMMENTS -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <app-comments></app-comments>
    </div>
  </div>

</div>
