<div class="container">
  <div class="justify-content-center sign-in--main">
    <div class="row justify-content-center">
      <form #f="ngForm" class="col-12 col-md-10 col-lg-6" (ngSubmit)="onSubmit()" (click)="log(f)">
        <h4 class="mb-4 form-yellow-title">Sign Up</h4>
        <div class="form-row">
          <div class="form-group col-12">
            <input
            type="file"
            name="avatar"
            ngModel
            #avatar="ngModel"
            class="form-control"
            id="inputUpload4"
            placeholder="upload a picture"
            accept="image/*">
          </div>
          <div class="form-group col-md-6">
            <input
            type="text"
            name="firstname"
            ngModel
            required
            #firstname="ngModel"
            pattern="[a-zA-Z]+$"
            class="form-control"
            id="inputFirstname4"
            placeholder="Firstname">
          </div>
          <div class="form-group col-md-6">
            <input
            type="text"
            name="name"
            required
            ngModel
            #name="ngModel"
            pattern="[a-zA-Z]+$"
            class="form-control"
            id="inputName4"
            placeholder="Name">
          </div>
          <!-- ERROR HANDLER -->
          <div class="error--msg info-error--div" *ngIf="(name.touched && !name.valid) || (firstname.touched && !firstname.valid)">
            <div *ngIf="name.errors.required">
              name is required
            </div>
            <div *ngIf="name.errors.pattern">
              name should be only alphacharacters.
            </div>
            <div *ngIf="firstname.errors.required">
              firstname is required
            </div>
            <div *ngIf="firstname.errors.pattern">
              firstname should be only alphacharacters.
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
          type="text"
          name="username"
          required
          ngModel
          #username="ngModel"
          minlength="6"
          pattern="[a-zA-Z0-9]+$"
          class="form-control"
          id="inputUsername"
          placeholder="Username">
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="username.touched && !username.valid">
          <div *ngIf="username.errors.required">
            username is required
          </div>
          <div *ngIf="username.errors.minlength">
            username should be minimum {{ username.errors.minlength.requiredLength }} characters
          </div>
          <div *ngIf="username.errors.pattern">
            username must be only digit, lowercase and uppercase.
          </div>
        </div>
        <div class="form-group">
          <input
          type="email"
          name="email"
          ngModel
          required
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          class="form-control"
          id="inputEmail"
          placeholder="example@provider.com">
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
          <div *ngIf="email.errors.pattern">
            Email must respect the template username@domain.com
          </div>
        </div>
        <div ngModelGroup="checkPasswds" #checkPasswds="ngModelGroup">
          <div class="form-group">
            <input
            type="password"
            name="password"
            ngModel
            required
            #password="ngModel"
            minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
            class="form-control"
            id="inputPassword"
            placeholder="Password">
          </div>
          <!-- ERROR HANDLER -->
          <div class="error--msg" *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required">
              password is required
            </div>
            <div *ngIf="password.errors.minlength">
              password should be minimum {{ password.errors.minlength.requiredLength }} characters
            </div>
            <div *ngIf="password.errors.pattern">
              password must be at least 1 digit, 1 lowercase, 1 uppercase and 1 of special chars [@$!%*?&].
            </div>
          </div>
          <div class="form-group">
            <input
            type="password"
            name="confirmPassword"
            required
            ngModel
            #confirmPassword="ngModel"
            minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
            class="form-control"
            id="inputConfirmPassword"
            placeholder="Confirm password">
          </div>
          <!-- ERROR HANDLER -->
          <div class="error--msg" *ngIf="confirmPassword.touched && !confirmPassword.valid">
            <div *ngIf="confirmPassword.errors.required">
              password is required
            </div>
          </div>
        </div>
        <!-- ERROR HANDLER -->
        <div class="error--msg" *ngIf="checkPasswds.touched && !samePwd(checkPasswds.value.password, checkPasswds.value.confirmPassword)">
          <div >
            passwords are not the same
          </div>
        </div>
        <button type="submit" [disabled]="!f.valid" class="sign-in--button btn btn-outline-warning mx-auto d-block col-sm-12 col-md-6">Submit</button>
      </form>
    </div>
    <app-oauth></app-oauth>
  </div>
